@tailwind base;
@tailwind components;
@tailwind utilities;

/* Switch Botton */
input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .block {
  background-color: #075985;
}

.dot {
  transition: all 0.2s ease-in-out;
}

.mask {
  -webkit-mask-image: url(../assets/mask.svg);
  mask-image: url(../assets/mask.svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
