@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #033156;
}

/* Switch Botton */
input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .block {
  background-color: #075985;
}

.dot {
  transition: all 0.2s ease-in-out;
}

.mask {
  -webkit-mask-image: url(../assets/mask.svg);
  mask-image: url(../assets/mask.svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* Mansory */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.country,
.popular-countries {
  animation: fadeIn 0.5s;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  width: auto;
  animation: fadeIn 0.5s;
}
.my-masonry-grid_column {
  padding-left: 15px;
  background-clip: padding-box;
}
