@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Switch Botton */
input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .block {
  background-color: #075985;
}

.dot {
  transition: all 0.2s ease-in-out;
}
